* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #111;
  overflow: hidden;
}
span {
  position: absolute;
  pointer-events: none;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  animation: fadeInOut 1s linear infinite;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

span::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: aqua;
  /* border-radius: 50%; */
  background-size: cover;
  animation: movemouse 1s linear infinite;
}
@keyframes movemouse {
  0% {
    transform: translate(0) rotate(0deg);
  }

  100% {
    transform: translate(300px) rotate(360deg);
  }
}
